body {
    background-color: blue;
    margin: 20px;
}

nav { 
    background-color: blueviolet;
    min-width: 200px;
}
ul {
    list-style-type: none;
   }

main {
    background-color: chartreuse;
    padding: 20px;
}

aside { 
    background-color: deeppink;
    min-width: 300px;
}

img {
    height: 150px;
    width: 300px;
}

header, footer {
    background-color: floralwhite;
    height: 150px;
    padding: 10px;
    text-align: center;
}

.container{
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-auto-columns: minmax(250px, auto);
    

@media (min-width: 580px), screen and (max-width: 1200px) {
    .container { 
        background-color: darkturquoise;
    }

}

 @media (max-width: 580px) {


    .container { 
        background-color: dimgray;
        display: grid;
        grid-template: table-column;
        


    }

